body {
    background-color: #284b5b;
    color: orange;
}
.header,
.main-content,
.footer {
    border: 2px dotted yellow;
    box-sizing: border-box;
}
.header div,
.main-content section,
.footer section {
    border: 1px dotted blue;
    box-sizing: border-box;
}

.header-top,
.header-bottom {
    background-color: white;
}

.main-menu .nav-link {
    padding: .5rem .7rem;
}